
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: flex;
    width: 100%;
    padding:2rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(215, 216, 216);
    border-radius: 1rem;
    font-size: 1.7rem;
    box-shadow: 0,0,1rem,1rem rgba(0, 6,12, 1);

}
.logo img{
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    box-shadow: 0 0 4px 4px rgba(0, 6,12, 0.5);
    
}

.navbar >ul {
    list-style: none;
    width: 70%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
ul li a {
     text-decoration: none;
}





.resturantbody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.searchbar {
    width: 50%;
    display: flex;
    justify-content: center;

}
.searchbar >input{
    width: 50%;
    height: 2rem;
}
.cardcontainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
    justify-content: space-evenly;
}
.cards{
    background-color:aliceblue;
    border-radius: 1rem;
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
    gap: 2rem;
     box-shadow: 0 0 2px 2px rgba(9,9,9, 0.7);
}
.cards .imagecontainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color:antiquewhite;
     box-shadow: 0 0 2px 2px rgba(9,9,9, 0.7);
      position: relative;
      border-radius: 1rem;
    
}
.cards .imagecontainer img {
    width:5rem;
    height: 5rem;
    object-fit: cover;
    border-radius:1rem ;
    box-shadow: 0 0 1px 1px rgba(9,9,9, 0.7);
     position: relative;
   
}
.cards .imagecontainer .discount {
    position: absolute;
    top: 80%;
    bottom: 80%;
    color:red;
}
.cards .details {
    display: flex;
    flex-direction: column;

}





footer{
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    gap: 5rem;
}
.details{
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}
.links ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 2rem;
    list-style: none;

}